@font-face {
  font-family: 'scratchies';
  src: url('../../../fonts/scratchies/Scratchies.ttf')  format('truetype')
}

.rune-collection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rune-output{
  font-size: 100px;
  padding: 0px 50px;
  color: black;
  -webkit-text-stroke: 1.25px silver;
  text-shadow: 1px 1px 2px silver, 0 0 1em silver, 0 0 0.2em silver;
  cursor: pointer;
  &.letter{
    padding: 0px ;
    color: silver;
    -webkit-text-stroke: 2.5px black;
    text-shadow: none;
    font-family: 'tox';
  }
}

