body {
  background-image: url('../src/images/BackgroundImage.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: 0px;
}

.scene-layout{
  display: flex;
  flex-direction: column;
}

.timer-dummy {
  height: 20px;
  // position: absolute; 
  // top: 0px;
  // background: #f3efe6;
  overflow: hidden;
}


