@font-face {
  font-family: 'scratchies';
  src: url('../../fonts/scratchies/Scratchies.ttf')  format('truetype')
}

.main-page-button {
  padding: 15px;
  font-family: 'scratchies';
  font-size: 20px;
  background-color: #C2E6D2;
  border-radius: 20px;
}