@font-face {
  font-family: 'scratchies';
  src: url('../../fonts/scratchies/Scratchies.ttf')  format('truetype')
}

.main-title {
  font-family: 'scratchies';
  text-align: center;
  font-size: 70px;
  -webkit-text-stroke: 1px whitesmoke;
}